{% extends 'blog/base.html' %}

{% block content %}
{% load static %}
<div class="centerstage ">
<center><h2 style="font-family: 'Merriweather', serif; padding: 10px;">Recent Blogs</h2></center>
  <div id="carouselExampleCaptions" class="carousel slide mycarousel" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
  
  <div class="carousel-inner">  
    {% for post in post_list %}  
    {% if forloop.counter <= 3 %}
      <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}" id="slide{{ forloop.counter }}"">  
      <img src="{{post.header_image.url}}" class="d-block w-100" alt="..." >
        <div class="carousel-caption d-none d-md-block" style="font-family: 'Merriweather', serif;">
          <h5><a href="{% url 'post_detail' pk=post.pk %}" style="text-decoration: none; color: white; font-size:30px;">{{ post.title }}</a></h5>
        </div> 
        </div> 
        {% endif %}
        {% endfor %}
      </div>
      
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </div>

    <center><h1 class="techfont">All Blogs</h1></center>

    <!-- This section is for listing the posts in card -->
    <div class="row row-cols-1 row-cols-md-3" style="font-family: 'Merriweather', serif;">
      {% for post in post_list %}
      <div class="col mb-4">
        <div class="card h-100 mycard">
        <img src="{{post.header_image.url}}" class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title"><a class="removelink" href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h5>
          <p class="card-text">Published on: {{ post.published_date|date:"D M Y"}}</p>
          <a class="removelink" href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approve_comments.count }}</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
<!-- card listing ends here -->

  </div>
{% endblock %}
